<div class="media">
  <div class="media-left">
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= sound_byte.mpeg_file_name %></h4>
    
      <!-- Audio Player -->
      <audio controls>
        <source src='/system/<%= sound_byte.mpeg.hash_key %>.mp3' type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      
      <!-- Options -->
      <%= link_to "Edit", sound_byte_path(sound_byte.id), class: "btn btn-primary btn-lg btn-xlarge", :method => :put %>
      <%= link_to "Share", sound_byte_path(sound_byte), class: "btn btn-primary btn-lg btn-xlarge", :method => :get %>
      <%= link_to "Delete", sound_byte_path(sound_byte), class: "btn btn-primary btn-lg btn-xlarge", :method => :delete %>
    
      <h5 class="media-heading">Tag: <%= sound_byte.tag %></h5>
    
  </div>
</div>