<div class="page-header"><h1>Upload SoundByte</h1></div>

<%= form_for @sound_byte do |f| %>
  <%= render 'shared/errors', object: @sound_byte %>

  <div class="form-group">
    
    <!-- Mpeg -->
    <label class="form-control" for="mpeg">Mpeg</label>
    <%= f.file_field :mpeg, class: 'form-control'%>
    
    <% if f.file_field nil %>
            
      <%= f.label :tag %>
      <%= f.text_field :tag %>
      
    <% end %>
  </div>

  <%= f.submit 'Upload', class: 'btn btn-primary' %>
<% end %>